<a href="https://colab.research.google.com/github/Kumaresh7604/Kumaresh-ML/blob/Pandas/PandasEx3%2C4%2C5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [342]:
import pandas as pd
import numpy as np

In [343]:
df = pd.DataFrame(
    data = { "Product": ["Laptop", "Phone", "Tablet", "Camera", "Headset"],
    "Mon": [5, 10, 4, 2, 8],
    "Tue": [6, 12, 5, 3, 9],
    "Wed": [3, 11, 2, 1, 7],
    "Thu": [4, 9, 3, 2, 6],
    "Fri": [7, 13, 5, 4, 10],
    "Sat": [8, 15, 6, 5, 11],
    "Sun": [6, 14, 4, 3, 9]
})
df

   Product  Mon  Tue  Wed  Thu  Fri  Sat  Sun
0   Laptop    5    6    3    4    7    8    6
1    Phone   10   12   11    9   13   15   14
2   Tablet    4    5    2    3    5    6    4
3   Camera    2    3    1    2    4    5    3
4  Headset    8    9    7    6   10   11    9

In [344]:
df["Total Sales"] = df[["Mon","Tue", "Wed","Thu","Fri","Sat","Sun"]].sum(axis=1)
print (df["Total Sales"])

0    39
1    84
2    29
3    20
4    60
Name: Total Sales, dtype: int64

In [345]:
df

   Product  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Total Sales
0   Laptop    5    6    3    4    7    8    6           39
1    Phone   10   12   11    9   13   15   14           84
2   Tablet    4    5    2    3    5    6    4           29
3   Camera    2    3    1    2    4    5    3           20
4  Headset    8    9    7    6   10   11    9           60

In [346]:
best_product= df["Total Sales"].max()
print (best_product)

84

In [347]:
df["Average"]= df [["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]].mean(axis=1)
print(df["Average"])

0     5.571429
1    12.000000
2     4.142857
3     2.857143
4     8.571429
Name: Average, dtype: float64

In [348]:
print(df["Total Sales"])

0    39
1    84
2    29
3    20
4    60
Name: Total Sales, dtype: int64

In [349]:
sorted = df.sort_values(by="Total Sales", ascending=False)
print(sorted)

   Product  Mon  Tue  Wed  Thu  Fri  Sat  Sun  Total Sales    Average
1    Phone   10   12   11    9   13   15   14           84  12.000000
4  Headset    8    9    7    6   10   11    9           60   8.571429
0   Laptop    5    6    3    4    7    8    6           39   5.571429
2   Tablet    4    5    2    3    5    6    4           29   4.142857
3   Camera    2    3    1    2    4    5    3           20   2.857143

In [350]:
#exercise 4
df = pd.DataFrame(
    data = {
        "Employee": ["John", "Alice", "Bob", "Mary", "David"],
    "Mon": ["P", "P", "A", "P", "P"],
    "Tue": ["A", "P", "A", "P", "P"],
    "Wed": ["P", "P", "P", "P", "A"],
    "Thu": ["P", "P", "P", "A", "A"],
    "Fri": ["P", "A", "P", "P", "A"]
    })
df

  Employee Mon Tue Wed Thu Fri
0     John   P   A   P   P   P
1    Alice   P   P   P   P   A
2      Bob   A   A   P   P   P
3     Mary   P   P   P   A   P
4    David   P   P   A   A   A

In [351]:
df["Total_Present"] = (df == "P").sum(axis=1)
df

  Employee Mon Tue Wed Thu Fri  Total_Present
0     John   P   A   P   P   P              4
1    Alice   P   P   P   P   A              4
2      Bob   A   A   P   P   P              3
3     Mary   P   P   P   A   P              4
4    David   P   P   A   A   A              2

In [352]:
sorted = df.sort_values(by="Total_Present", ascending=False)
print(sorted)

  Employee Mon Tue Wed Thu Fri  Total_Present
0     John   P   A   P   P   P              4
1    Alice   P   P   P   P   A              4
3     Mary   P   P   P   A   P              4
2      Bob   A   A   P   P   P              3
4    David   P   P   A   A   A              2

In [353]:
#exercise 6
import pandas as pd
import numpy as np

In [354]:
df = pd.DataFrame(
    data = {
    "Movie": ["Inception", "Titanic", "Avatar", "Joker", "Dune"],
    "Critic_A": [9, 8, 7, 9, 8],
    "Critic_B": [8, 7, 8, 9, 7],
    "Critic_C": [9, 8, 6, 10, 8]
    }
)
df

       Movie  Critic_A  Critic_B  Critic_C
0  Inception         9         8         9
1    Titanic         8         7         8
2     Avatar         7         8         6
3      Joker         9         9        10
4       Dune         8         7         8

In [355]:
df["Average_Rating"] = df[["Critic_A", "Critic_B", "Critic_C"]].mean(axis=1)
print(df["Average_Rating"])

0    8.666667
1    7.666667
2    7.000000
3    9.333333
4    7.666667
Name: Average_Rating, dtype: float64

In [356]:
df.set_index("Movie", inplace=True)

In [357]:
highest = df["Average_Rating"].idxmax()
print(highest)

Joker

In [358]:
lowest = df["Average_Rating"].idxmin()
print(lowest)

Avatar

In [359]:
df_sorted = df.sort_values(by="Average_Rating", ascending=False)
df

           Critic_A  Critic_B  Critic_C  Average_Rating
Movie
Inception         9         8         9        8.666667
Titanic           8         7         8        7.666667
Avatar            7         8         6        7.000000
Joker             9         9        10        9.333333
Dune              8         7         8        7.666667